<p style="color: green"><%= notice %></p>

<div class="d-flex justify-content-between">
  <div class="">
    <h1>Articles</h1>
  </div>
  <div class="float-right">
    <%= link_to "New", new_article_path, class: "btn btn-primary" %>
  </div>
</div>

<div id="articles" class="">
  <% @articles.each do |article| %>
    <%= render partial: 'article_cassette', locals: {article: article} %>
  <% end %>
</div>
