<p style="color: green"><%= notice %></p>

<div class="d-flex">
  <h1>Articles</h1>
  <%= link_to "New article", new_article_path %>
</div>

<div id="articles">
  <% @articles.each do |article| %>
    <%= render article %>
  <% end %>
</div>
