<div id='header' class="border-top border-primary">
  <div class="d-flex flex-wrap justify-content-center">
    header
  </div>
  <hr>
  <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="#">Home</a></li>
      <li class="breadcrumb-item active" aria-current="page">Sample</li>
    </ol>
  </nav>
</div>